/* Menu background strip */
.dvMainMenu-left
   {
   float:left;
   }
   
.dvMainMenu-right
    {
        float:right;
        padding-top:5px;
        padding-right:5px;
    }
.dvMainMenu-right a
    {
        padding-top:5px;
    }
.mainMenuBG
{
	background-color: #EEEEEE;
	text-align: left;
	height: 35px;
}

.subMenuBG
{
    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    background-color:#FB9d04;
    background-image: url('../Media/ver2/Images/SubMenu_Slice.jpg');
    background-repeat: repeat-x;
}

/* Menu Active/Inactive */
.mainMenuActive
{
    
    color: #10367d;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    background-image: url('../Media/ver2/Images/MenuSelect_Slice.jpg');
    background-repeat: repeat-x;
}

.mainMenuInactive
{
    background-color: #eeeeee;
    color: #F78411;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
   
}

/* SubMenu Active/Inactive */
.subMenuActive
{
	color: #10367d;
	padding-left: 8px;
	padding-right: 8px;
	font-weight: bold;
	font-size: 14px;
}

.subMenuInactive 
{   
    color: #FFFFFF; 
    padding-left: 8px; 
    padding-right: 8px; 
    font-weight:bold;
    font-size: 14px;
}

/* Menu Links */
.lnkMenu 
{ 
    color: #F78411; 
    text-decoration: none; 
    background-image: url('../Media/ver2/Images/MenuSelect_Slice.jpg');
    background-repeat: repeat-x;
}
.dvSubMenu-left
    {
    float:left;
    }
.dvSubMenu-right
    {
    float:right;
    margin-top:5px;
    padding-top:1px;
    padding-bottom:1px;
    margin-bottom:4px;
    padding-right:1px;
    background-color:#FFFFFF;
    height:22px;
    vertical-align:middle;
    
    }
.lnkSubMenu 
{
    color: #FFFFFF; 
    text-decoration: none; 
}

/* Site Search */  
.SearchButton
{
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
    height: 22px;
    width: 62px;
    background: #fb9d04 url(../media/images/search_button.gif) no-repeat top;
    background-position: center;
    background-repeat: no-repeat;
}

.SearchBox2
{
    border-color: #FF9900;
    border-style: solid;
    width: 200px;
    height: 18px;
    font-weight: bold;
}
.SearchBox
   {
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border: 1px solid #FFFFFF;
    vertical-align:top;
    height: 16px;
    width: 224px;

   }

.arMenuInactive
{
    color: #F78411;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
}

#navFooter
{
    
}

#navFooter ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#navFooter li
{
    float: left;
}

#navFooter li a
{
    height: 35px;
    line-height: 2em;
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
}

.footer_company_logo
{
    height: 35px;
    width: 116px;
    float: left;
    margin-right: 20px;
    background: #fb9d04 url(../media/ver2/images/footer_company_logo.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
}
.footer_live
{
    height: 35px;
    width: 113px;
    float: left;
    margin-left: 30px;
    background: #fb9d04 url(../media/ver2/images/footer_live.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
}
.footer_video
{
    height: 35px;
    width: 82px;
    float: left;
    margin-left: 30px;
    background: #fb9d04 url(../media/ver2/images/footer_video.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
}
.footer_podcasts
{
    height: 35px;
    width: 96px;
    float: left;
    margin-left: 30px;
    background: #fb9d04 url(../media/ver2/images/footer_podcasts.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer_rss
{
    height: 35px;
    width: 141px;
    float: left;
    margin-left: 30px;
    background: #fb9d04 url(../media/ver2/images/footer_rss.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer_mobile
{
    height: 35px;
    width: 83px;
    float: left;
    margin-left: 30px;
    background: #fb9d04 url(../media/ver2/images/footer_mobile.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}
.footer_twitter
{
    height: 35px;
    width: 155px;
    float: left;
    margin-left: 30px;
    background: #fb9d04 url(../media/ver2/images/footer_twitter.jpg) no-repeat top;
    background-position: left;
    background-repeat: no-repeat;
    cursor: pointer;
}
